.forum_logo_wrapper {
	position: relative;
	z-index: 10;
	img {
		margin: 0 0 -2% 0;
		z-index: 3;
	}
	.lfr-menu-button {
		display: none;
	}
	a {
		&:after {
			border-bottom: none;
		}
	}
	@media (max-width: 889px) {
		margin: 0 0 -1.2rem 0;
		background: @lfr-base-color;
		text-align: right;
		img {
			height: 70px;
		}
	}
}

.lfr {
	&-mainmenu {
		width: ~"calc(100% - @lfr-border-size - @lfr-border-size)";
		min-height: 3rem;
		position: sticky;
		z-index: 5;
		top: -0.4rem;
		border-left: @border-solid;
		border-right: @border-solid;
		background: @lfr-header-background;
		&-links {
			display: inline-block;
			list-style: none;
			position: relative;
			margin: auto 0 auto 0.75rem;
			padding: 0 0 0 0;
			text-align: left;
			background: rgba(0,0,0,0);
			li {
				display: inline-block;
				&:not(:last-child) {
					&:after {
						content: "|";
						display: inline-block;
						position: absolute;
						padding-top: 0.85rem;
						color: @lfr-header-text - rgba(10,10,10,0);
					}
				}
			}
			a {
				position: relative;
				margin: 0.8rem 14px 0 10px;
				transition: color 0.2s;
				cursor: default;
				color: @lfr-header-text;
				text-shadow: -1px -1px 1px #fff - @lfr-header-text;
				font-family: 'Ubuntu Condensed', sans-serif;
				font-size: 1.2rem;
				font-weight: 900;
				letter-spacing: 2px;
				text-transform: uppercase;
				&.current {
					color: @lfr-header-text + rgba(10,10,10,0);
				}
				&:hover {
					color: @lfr-header-text + rgba(10,10,10,0);
				}
				&:before {
					font-family: Icons;
					padding-right: 0.5rem;
				}
				&:after {
					background: @lfr-header-text - rgba(20,20,20,0);
					border-bottom: 4px solid @lfr-header-text - rgba(20,20,20,0);
					bottom: -0.2rem;
					transition: all 1s;
				}
				&:visited {
					color: @lfr-header-text;
					text-shadow: -1px -1px 1px #fff - @lfr-header-text;
				}
			}
		}
		@media (max-width: 889px) {
			display: none !important;
		}
	}
	&-usermenu {
		display: flex;
		justify-content: flex-start;
		width: ~"calc(100% - @lfr-border-size - @lfr-border-size)";
		height: 2.5rem;
		border: @border-solid;
		background: @lfr-background-dark;
		.avatar {
			margin-left: 1rem;
			a {
				&:after {
					border: none;
				}
			}
			img {
				margin: 0.1rem 0 0.1rem 0;
				max-height: 2.3rem
			}
		}
		strong {
			margin: 0.8rem auto auto 0.5rem;
			font-size: 1.2rem
		}
		@media (max-width: 889px) {
			display: none !important;
		}
	}
}

    .social-media {
            display: inline-block;
            float: right;
            margin: 0.5rem;
            padding-top: 1px;
        a {
            padding-top: 5px;
            &:before {
                padding: 0 !important;
                font-family: SM !important;
                margin-left: 0.5rem;
                vertical-align: middle;
                font-size: 2rem;
                box-shadow: 1px 1px white;
                background: white;
                border-radius: 3px;
            }
            &:after {
                border: none !important;
            }
            &[href*="ok.ru"] {
                &:before {
                    color: orange;
                    content: "7";
                }
            }
            &[href*="facebook"] {
                &:before {
                    color: rgba(59, 89, 152, 1);
                    content: "f";
                }
            }
            &[href*="vk"] {
                &:before {
                    color: rgb(88, 126, 163);
                    content: "q";
                }
            }
            &[href*="twitter"] {
                &:before {
                    color: rgb(29, 161, 242);
                    content: "t";
                }
            }
        }
    }

#navindex {
	a {
		&::before {
			content: '\e8d1';
		}
	}
}
#navextra1 {
	a {
		&::before {
			content: '\e0e0';
		}
	}
}
#navuserlist {
	a {
		&::before {
			content: '\e7fb';
		}
	}
}
#navrules {
	a {
		&::before {
			content: '\e001';
		}
	}
}
#navsearch {
	a {
		&::before {
			content: '\e8b6';
		}
	}
}
#navregister {
	a {
		&::before {
			content: '\e0da';
		}
	}
}
#fancy_favorites {
	a {
		&::before {
			content: '\e838';
		}
	}
}
#navadmin {
	a {
		&::before {
			content: '\e8b8';
		}
	}
}
#navlogin {
	a {
		&::before {
			content: '\e879';
		}
	}
}
#navlogout {
	a {
		&::before {
			content: "\e895";
		}
	}
}

/* =================================== Main SubMenu ===================================== */


#visit-links {
	margin: auto 1rem auto auto;
	display: inline-block;
	a {
		font-size: 1.2rem;
		margin: 0 0 0 0.75rem;
	}
}

/* ====================================== Anouncement =================================== */
#brd-announcement {
    padding: 0;
	margin-top: 1rem;
	background: @lfr-background-middle;
	width: ~"calc(100% - @lfr-border-size - @lfr-border-size)";
	border: @border-solid;
	.hn {
		margin: 0.5rem auto 0.3rem 1rem;
		font-size: 1.2rem;
        border: none;
	}
	.content {
		width: calc(~'100% - 2rem');
		text-align: justify;
		margin: 0 0 0 1rem;
		padding: 1rem 0 1rem 0;
		border-top: @border-dashed ;
	}
}
