#group_legend{
	border-top: none;
}
#group_legend ul{
    margin: 0 !important;
}
#group_legend :nth-child(1){
    border-left: none !important;
	padding-left: 0 !important;
}
#group_legend li{
    list-style: none !important;
    display: inline-block !important; 
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-left: solid 1px #D3DAE1; /*You may wish to change it*/
}
