.post-likes{padding-left: 12px;}
.post-likes i{
	display: inline-block;
	width: 117px;
	height: 25px;
	margin: 0 8px 0 8px;
	vertical-align: text-top;
	cursor: pointer;
}
.post-likes .like-img{background-image: url(../../img/heart.png);}
.post-likes .liked {opacity:0.3;cursor: not-allowed;}


