#birthdays_soon,
#birthdays_today {
	border-bottom: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	}

#birthdays_soon .hn, #birthdays_soon p,
#birthdays_today .hn, #birthdays_today p {
	padding-bottom: 0;
	padding-top: 0;
	}

#birthdays_soon .hn,
#birthdays_today .hn {
 	float: left;
 	margin-right: 0.5em;
 	}