@font-face { 
    font-family: "HelveticaNeue";
    src: url(https://linuxforum.ru/.err_pages/ttf/HelveticaNeue.ttf) format("truetype");
}

body {
    font-family: "HelveticaNeue";
    margin: 0 auto;
    width: 98%;
    max-width: 1300px;
}

.game_head {
    background: linear-gradient(to top, #444, #fff);
    height: 20px;
}
    
.page_body {
    display: flex;
    padding: 2%;
    background: #444;
}
    
#info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#err_no {
    font-size: 10vw;
    color: #fff;
}

#message {
    font-size: 1.5rem;
    color: #aaa;
    
}

#message_m {
    display: none;
}

#home {
    background: #2a6ab8;
    border: 2px solid #3a7ac8;
    min-height: 50px;
    width: 100%;
    border-radius: 100px;
    font-size: 2.5vw;
    color: #fff;
    transition: all 0.1s ease-in-out;
}

#home:hover {
    background: #0a4a98;
    transform: scale(1.01);
}

#home:active {
    background: #4a8ac8;
    transform: scale(0.99);
}

#canvas {   
    margin-left: 20px;
}

.game_bottom {
    background: linear-gradient(to bottom, #444, #fff);
    height: 20px;
    }

@media (max-width: 800px) {
    body {
        width: 100%;    
    }
    
    #err_no {
        font-size: 30vw;
    }
        
    #message_m {
        font-size: 1.5rem;
        color: #aaa;
        display: block;
        }
    
    #home {
        font-size: 6vw;
    }
    
    #message, #canvas {
        display: none;
    }
}


