#pun_bbcode_bar #pun_bbcode_button_smiles.image{background:url(ab.gif) 50% 50% no-repeat;}
div #bbcode_smilies{
	padding: 0 5px;
	margin: 8px 0 0 215px;
	min-height: 3em;
	max-width: 95%;
	overflow: auto;
	border-style: inset;
	border-width: 1px;
	background-color: #fffced;
}
@media screen and (max-width: 600px){div #bbcode_smilies{margin: 8px 0 0 0;}}