﻿div#addQuote {
    position: absolute;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px 10px 4px 10px;
    background: none #111111 no-repeat;
    color: #eeeeee;
    cursor: pointer;
    font: bold 13px Helvetica, Arial;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 0px #333;
    z-index: 110;
}

div.arrow-up {
    position: relative;
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #111;
    top: -27px;
    left: 5px;
}
