@font-face {
    font-family: "Vampire";
    src: url("font/Vampire95.ttf") format("truetype");
}

* {
    font-family: "Vampire" !important;
    text-shadow: none !important;
    /*font-size: 16px;*/
}

html, body {
    background: #000000;
    color: #ff6666;
}

#brd-navlinks, .main-menu, .admin-menu, .main-head, .main-foot, a.nav-toggle {
    background-color: #000000;
    background-image: -webkit-linear-gradient(left, #300000 0, #300000 63%, #480000 80%, #800000 87%, #300000 94%) !important;
    color: #ff5555 !important;
}

.main-head, .main-foot {
    border: 1px solid #a00000;
}

#brd-navlinks {
    border: 1px solid #a00000;
    color: #ff5555;
}

.gen-content, .crumbs {
    border: 1px solid #a00000;
    background-color: #000000;
    background-image: -webkit-linear-gradient(left, #300000 0, #300000 63%, #480000 80%, #800000 87%, #300000 94%) !important;
}

#brd-crumbs-top {
    margin-bottom: -1px
}

#brd-crumbs-end {
    margin-top: -1px
}

.crumbfirst, .crumbfirst a, a, a#strong, .first-item a, #visit-recent a,
#visit-unanswered a, #visit-pun_pm a, #brd-navlinks a {
    color: #ffaa66 !important;
    transition: all 0.5s;
}

.crumbfirst a:hover, a:hover, #visit-recent a:hover, #visit-unanswered a:hover,
#visit-pun_pm a:hover, #brd-navlinks a:hover {
    color: #ff0000 !important;
    text-shadow: 0 0 15px #000000;
    text-decoration: none;
}

.crumblast {
    color: #ff5555;
}

.item-info, .info-views strong, .info-replies strong, .info-lastpost, .author-info strong, .item-summary strong {
    color: #ff5555 !important;
}

.odd {
    background: #300500;
    color: #ff5555;
}

.main-category .even, .forum-views .even, subject-title, main-subhead, .item-summary, .main-content .sticky {
    background: #000000;
    color: #ff5555;
}

.main-content, .main-subhead, .main-content .main-item {
    border: 1px solid #aa0000;
}

.main-item li {
    border: #aa0000;
}

.even .item-subject, .brd .main-content .main-item .item-subject {
    border-left: 1px solid #aa0000;
}

.main-content .main-item .hn .item-status em.sticky {
    color: #ff0000;
}

.post div, .replypost {
    background: #000000;
    color: #ffaa66;
}

.post-byline, .post-ident {
    background: #000000 !important;
    border-top: 1px solid #aa0000;
    border-bottom: 1px dotted #aa0000 !important;
}

.odd .group_color_23 a, .even .group_color_23 a, .group_color_20 a {
    color: #48f !important;
}

.post-num {
    color: #ff5555;
}

.post-edit {
    color: #883333;
}

.sig-line {
    border-top: dotted 1px #801200;
}

.entry-content .quotebox {
    background: #330000;
    border: 1px solid #aa0000;
    color: #a08520;
}

.entry-content .quotebox cite {
    background: -webkit-linear-gradient(left, #700000 0, #100000 100%);
    color: #ffaa66;
}

div#addQuote {
    background: #ffbb88;
    color: #000000;
    text-decoration: bold;
}

.sig-content {
    color: #886015 !important;
}

.main-frm {
    background: #250000;
}

.main-subhead .hn {
    background-color: #000000;
    background-image: -webkit-linear-gradient(top, #700000 0, #100000 100%);
}

textarea, .txt-set textarea {
    background: #000000;
    border: 1px solid #aa0000;
    color: #ffaa66;
}

.txt-set textarea {
    width: 98%
}

.txt-box label span {
    color: #ffaa66;
}

.primary input {
    background-image: -webkit-linear-gradient(left, #005000 80%, #009000 90%, #003000 100%) !important;
    border: 1px solid #aa0000 !important;
    float: right;
    width: 12em;
}

.submit input[name=preview] {
    background-image: -webkit-linear-gradient(left, #500000 0%, #b00000 10%, #500000 20%) !important;
    border: 1px solid #aa0000 !important;
    color: #ffffff;
    margin-left: -2.1em;
    width: 12em;
}

.frm-buttons {
    margin-top: -30px;
    border: none;
}

.codebox {
    background: #303030 !important;
    border: 1px solid #aa0000 !important;
    color: #aaaaaa !important;
}

.termtitle {
    background-image: -webkit-linear-gradient(left, #002000 0, #006000 80%, #00a000 90%, #004000 100%) !important;
    border: 1px solid #00a000 !important;
    color: #00a000 !important;
}

div.termcont {
    border: 1px solid #00a000;
    color: #00a000 !important;
}

span.termcont {
    border: 1px dotted #009000;
    color: #00a000 !important;
}

.fancy_spoiler_switcher {
    background-image: -webkit-linear-gradient(left, #400000 0, #600000 80%, #a00000 90%, #400000 100%) !important;
    border: 1px solid #a00000 !important;
    margin: auto;
    width: auto;
}

.fancy_spoiler_switcher_header, .fancy_spoiler {
    background: transparent !important;
}

#pun_bbcode_bar input[name="b"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: 0 0;
}

#pun_bbcode_bar input[name="i"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -132px 0;
}

#pun_bbcode_bar input[name="u"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -261px 0;
}

#pun_bbcode_bar input[name="list"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -183px 0;
}

#pun_bbcode_bar input[name="list item"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -157px 0;
}

#pun_bbcode_bar input[name="color"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -53px 0;
}

#pun_bbcode_bar input[name="code"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -27px 0;
}

#pun_bbcode_bar input[name="quote"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -209px 0;
}

#pun_bbcode_bar input[name="img"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -105px 0;
}

#pun_bbcode_bar input[name="url"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -286px 0;
}

#pun_bbcode_bar input[name="console"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background: url(/extensions/pun_bbcode/css/Oxygen/img/console.png) 50% 50% no-repeat;
}

#pun_bbcode_bar input[name="email"].image {
    border: solid 1px #aa0000;
    background: url(img/bb_sprite.png) 0 0 no-repeat;
    background-position: -79px 0;
}

#pun_bbcode_button_fancy_spoiler, #pun_bbcode_button_smiles {
    border: 1px solid #aa0000 !important;
}

.author-ident .userstatus span {
    border: none;
}

.userstatus span::before {
    width: 24px;
    height: 24px;
    background-image: url("img/user-offline.svg");
    background-size: 24px 24px;
    margin: 0 4px 0 0;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.online .userstatus span::before {
    background-image: url("img/user-online.svg");
}