.lfr-menu-button {
	left: 10px;
	top: 10px;
	position: absolute;
	width: 46px;
	height: 46px;
	background: @lfr-base-color;
	background-image: url("../img/menu_button.png");
	background-size: cover;
	@media (max-width: 889px) {
		display: inline-block !important;
	}
}

.touch-menu-la {
	width: 350px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -355px;
	a {
		&:after {
			border-bottom: none;
		}
		&:hover{
			&:after {
				border-bottom: none;
			}
		}
	}
	.tmla-handle {
		position: absolute;
		top: 0;
		height: 100%;
	}
	.touch-menu-content {
		display: flex;
		flex-direction: column;
		width: auto;
		box-shadow: 2px 0 5px 2px rgba(0,0,0,0.5);
		position: relative;
		top: 0;
		height: 100%;
		background: @lfr-background-light;
		.inner-header {
			height: ~"calc(90px + 2rem)";
			text-align: center;
			background: url("../img/m_menu_bg.svg");
			background-size: cover;
			box-shadow: 0 5px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
			filter: hue-rotate(@lfr-hue);
			-webkit-filter: hue-rotate(@lfr-hue);
			.avatar {
				text-align: center;
				margin: 0;
				a {
					img {
						filter: hue-rotate(-@lfr-hue);
						-webkit-filter: hue-rotate(-@lfr-hue);
						max-height: 90px;
						max-width: 90px;
						background: fade(@lfr-background-light, 70%);
						box-shadow: 0 8px 10px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.22);
					}
				}
			}
			strong {
				filter: hue-rotate(-@lfr-hue);
				-webkit-filter: hue-rotate(-@lfr-hue);
				vertical-align: top;
				font-family: 'Ubuntu condensed';
				display: block;
				margin: 0.2rem 0 0.2rem 0;
				font-size: 1.4rem;
				letter-spacing: 3px;
				text-shadow: 1px 1px 1px @lfr-background-light,
							-1px -1px 1px @lfr-background-light,
							-1px 1px 1px @lfr-background-light,
							1px -1px 1px @lfr-background-light;
				color: @lfr-link;
			}
		}
		.isactive > a {
			border-left: 5px solid @lfr-link;
			padding: 0.7rem 0 0.7rem 10px;
		}
		ul {
			height: auto;
			overflow-y: auto;
			padding: 0 0 0 0;
			list-style: none;
			margin: 1rem 0 auto 0;
			width: 100%;
			font-family: 'Ubuntu Condensed', sans-serif;
			font-weight: bold;
			letter-spacing: 2px;
			text-transform: uppercase;
			li {
				margin: 0;
				padding: 0;
				a {
					color: @lfr-link;
					padding: 0.7rem 0 0.7rem 15px;
					text-decoration:none;
					text-align:left;
					display: block;
					background-image: linear-gradient(to left, transparent, transparent 50%, @lfr-link 50%, @lfr-link);
					background-position: 100% 0;
					background-size: 200% 100%;
					transition: all 0.2s ease-in;
					&:before {
						font-family: "Icons";
						line-height: 0 !important;
						padding-right: 0.5rem;
						font-weight: 100;
					}
					&:hover {
						background-position: 0 0;
						color: @lfr-background-light;
					}
				}
			}
		}
		.inner-footer {
			box-shadow: 0 -1px 2px fade(@lfr-foreground, 30%);
			bottom: 0px;
			display: flex;
			padding: 0.1rem 0 0.1rem 0;
			span {
				width: 3rem;
				flex-grow: 1;
				padding: 0.2rem;
				a {
					position: relative;
					overflow: hidden;
					white-space: nowrap;
					width: 100%;
					box-shadow: 0 0 2px 2px fade(@lfr-foreground, 50%) inset;
					span {
						position: absolute;
						top: 0;
						right: 0;
						margin: 3px;
						padding: 1px;
						width: auto;
						min-width: 0.7rem;
						text-align: center;
						font-weight: 900;
						background: rgba(255,0,0,1);
						color: rgba(255,255,255,1) !important;
					}
					&:before {
						display: inline-block;
						position: relative;
						padding-top: 0.25rem;
						font-family: 'Icons';
						width: 100%;
						text-align: center;
						font-size: 2.5rem;
						color: fade(@lfr-foreground, 70%);
					}
					&:active {
						box-shadow: 0 0 2px 2px fade(@lfr-foreground, 50%) inset,
									0 0 4px 4px fade(@lfr-foreground, 30%) inset;
					}
				}
			}
			#visit-new {
				a {
					&:before {
						content: '\e05e';
					}
				}
			}
			#visit-recent {
				a {
					&:before {
						content: '\e8b3';
					}
				}
			}
			#visit-unanswered {
				a {
					&:before {
						content: '\e92a';
					}
				}
			}
			#fancy_alerts_visit_topics {
				a {
					&:before {
						content: '\e1db';
					}
				}
			}
			#fancy_alerts_visit_posts {
				a {
					&:before {
						content: '\e244';
					}
				}
			}
			#visit-pun_pm {
				a {
					&:before {
						content: '\e168';
					}
				}
			}
		}
	}
	::-webkit-scrollbar-track, ::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
		all: initial;
		width: 0;
	}
}

.touch-menu-la.opened {
	transition: all 0.3s ease-out !important;
	-webkit-transition: all 0.3s ease-out !important;
	-moz-transition: all 0.3s ease-out !important;
}

.touch-menu-la.closed {
	transition: all 0.3s ease-out !important;
	-webkit-transition: all 0.3s ease-out !important;
	-moz-transition: all 0.3s ease-out !important;
	transform: none !important;
	-webkit-transform: none !important;
	-moz-transform: none !important;
}

.tmla-mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,1);
	opacity: 0.0;
	z-index: -1;
}
