@font-face {
	font-family: 'Icons';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Icons/Regular.woff2") format('woff2'),
		url("../fonts/Icons/Regular.woff") format('woff'),
		url("../fonts/Icons/Regular.ttf") format('truetype');
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/Ubuntu/ubuntu-b-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntu-b-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntu-b-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/Ubuntu/ubuntu-bi-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntu-bi-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntu-bi-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu Condensed';
	src: url('../fonts/Ubuntu/ubuntu-c-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntu-c-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntu-c-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/Ubuntu/ubuntu-l-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntu-l-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntu-l-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/Ubuntu/ubuntu-li-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntu-li-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntu-li-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/Ubuntu/ubuntu-m-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntu-m-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntu-m-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/Ubuntu/ubuntu-mi-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntu-mi-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntu-mi-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/Ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntu-r-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntu-r-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/Ubuntu/ubuntu-ri-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntu-ri-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntu-ri-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu Monospace';
	src: url('../fonts/Ubuntu/ubuntumono-b-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntumono-b-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntumono-b-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Monospace';
	src: url('../fonts/Ubuntu/ubuntumono-bi-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntumono-bi-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntumono-bi-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu Monospace';
	src: url('../fonts/Ubuntu/ubuntumono-r-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntumono-r-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntumono-r-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Monospace';
	src: url('../fonts/Ubuntu/ubuntumono-ri-webfont.woff2') format('woff2'),
		 url('../fonts/Ubuntu/ubuntumono-ri-webfont.woff') format('woff'),
		 url('../fonts/Ubuntu/ubuntumono-ri-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SM';
	font-style: normal;
	font-weight: 400;
	src: local('SM'),
		url(../fonts/SM/sm.ttf) format('truetype'),
		url(../fonts/SM/sm.woff) format('woff'),
		url(../fonts/SM/sm.woff2) format('woff2');
}

.icon {
	font-family: 'Icons';
}

.social-media {
	font-family: 'SM';
}

.lfr-main-menu a, .touch-menu-content > ul {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1rem;
	text-transform: uppercase;
	}

.lfr-category-head {
	font-family: 'Ubuntu Condensed', sans-serif;
	text-transform: uppercase;
	}

.lfr-mainpage-category-name {
	font-size: 1.4rem;
	}

.lfr-category-subhead {
	font-family: 'Ubuntu Regular', arial;
	font-size: 1rem;
	}

.lfr-mainpage-forum, .touch-menu-la {
	font-family: 'Ubuntu Regular', arial;
	font-size: 1rem;
	}

.lfr-mainpage-forum-name a {
	font-family: 'Ubuntu Regular', arial;
	font-size: 1.2rem;
	}
	
.gen-content#brd-visit  {
	font-family: "Ubuntu Regular";
	}
