body, html {
	font-family: 'Ubuntu Regular';
}

body {
	margin: 0 auto 0 auto;
	font-size: @lfr-all-zoom * 14pt;
	position: relative !important;
}

.scrolltop-wrap {
	box-sizing: border-box;
	position: absolute;
	top: 12rem;
	right: 2rem;
	bottom: 0;
	opacity: 0.5;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: all 0.5s;
	#scrolltop-bg {
		fill: @lfr-base-color;
	}
	#scrolltop-arrow {
		fill: white;
	}
	a:hover {
		#scrolltop-bg {
			fill: @lfr-base-color;
		}
	}
	a {
		position: fixed;
		position: -webkit-sticky;
		position: sticky;
		top: -5rem;
		width: 3rem;
		height: 3rem;
		margin-bottom: -5rem;
		-webkit-transform: translateY(100vh);
		transform: translateY(100vh);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		display: inline-block;
		text-decoration: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: all;
		outline: none;
		overflow: hidden;
		svg {
			display: block;
			border-radius: 5px;
			width: 100%;
			height: 100%;
		}
		#scrolltop-arrow {
			-webkit-transform-origin: center;
			transform-origin: center;
		}
	}
	&:hover {
		opacity: 1;
	}
}
@supports (-moz-appearance: meterbar) {
	.scrolltop-wrap {
		clip: rect(0, 3rem, auto, 0);
	}
}


a {
	display: inline-block;
	text-decoration: none;
	transition: all 1s;
	color: rgba(41,68,132,255);
	&:hover {
		text-decoration: none;
		&:after {
			width: 100%;
		}
	}
	&:after {
		display: block;
		content: "";
		position: relative;
		z-index: 1;
		width: 0%;
		margin: auto;
		border-bottom: 2px solid @lfr-base-color;
		bottom: 0;
		transition: all 0.5s;
	}
	&:visited {
		color: rgba(41,68,132,255);
	}
}

.post-entry {
	.entry-content {
		a {
			&:before {
				position: relative;
				top: 2px;
				font-family: "Icons";
			}
		}
		a[href^="http:/"] {
			&:before {
				color: #a00;
				content: '\e898  ';
			}
		}
		a[href^="https:/"] {
			&:before {
				color: green;
				content: '\e899  ';
			}
		}
		a[href*="linuxforum"] {
			&:before {
				color: #587ea3;
				content: '\e250  ';
			}
		}
		.sig-content {
			a {
				&:before {
					content:'';
				}
			}
		}
	}
}

.no-border {
	transition: all 0.3s;
	&:hover {
		transform: scale(1.25);
	}
	&:active {
		transform: scale(0.75);
	}
	&:after {
		position: relative;
		margin-bottom: 2px;
		border: none;
	}
}

H4 {
	margin-top: 1.2rem;
}

#brd-wrap {
	padding: 0;
}

#brd-visit {
	p {
		line-height: 1;
	}
	strong {
		margin-left: 0.5rem;
	}
	.lfr-header-avatar {
		display: inline-block;
		margin-left: -0.75rem;
		img {
			height: 29px;
			width: auto ;
		}
	}
	#visit-links {
		display: inline-block;
		text-align: right;
		margin-right: 0;
		float: right;
	}
}

.lfr-menu-button {
	display: none;
}

#brd-navlinks {
	a {
		padding-left: 0.3rem !important;
		padding-right: 0 !important;
	}
	a::before {
		padding-right: 0.3rem;
		font-family: "Icons";
		line-height: 0;
		font-weight: 100;
	}
	a::after {
		border-bottom: 2px solid #eee;
		bottom: -2px;
	}
	ul > li:not(:last-child)::after {
		position: relative;
		top: 6px;
		font-family: "Icons";
		font-size: 20px;
		color: #c0c0c0;
		padding-left: 0.5rem;
		content: "\e5d4";
	}
	#navlogout {
		a::before {
			content: "\e895";
		}
	}
	#navindex {
		a::before {
			content: '\e8d1';
		}
	}
	#navextra1 {
		a::before {
			content: '\e0e0';
		}
	}
	#navuserlist {
		a::before {
			content: '\e7fb';
		}
	}
	#navrules {
		a::before {
			content: '\e001';
		}
	}
	#navsearch {
		a::before {
			content: '\e8b6';
		}
	}
	#navregister {
		a::before {
			content: '\e0da';
		}
	}
	#fancy_favorites {
		a::before {
			content: '\e838';
		}
	}
	#navadmin {
		a::before {
			content: '\e8b8';
		}
	}
	#navlogin {
		a::before {
			content: '\e879';
		}
	}
}
#forum_logo_wrapper	a::after, #brd-about .gen-content a::after, .rep_info_link::after {
		border-bottom: none;
}

.rep_info_link img {
	transition: all 0.3s;
}
.rep_info_link img:hover {
	transform: scale(1.5);
}

.lfr-mainpage-news {
	width: ~"calc(100% - @lfr-border-size - @lfr-border-size)";
	margin: 1.2rem 0 1.2rem 0;
	padding: 0;
	border: 1px solid rgb(200,200,210);
	background: rgb(250,250,250);
	h3 {
		background: @lfr-header-background;
		padding: 0.6rem 1rem 0.6rem 2rem;
		font-size: 1.3rem;
		color: white;
		font-weight: 400;
	}
	ul {
		display: inline-block;
		margin: -48px 1rem 0.5rem 6.5rem;
		list-style: none;
		&:before {
			content: '';
			background: url(https://linuxforum.ru/img/forum_icons/23.svg);
			background-size: cover;
			display: inline-block;
			position: relative;
			top: 60px;
			left: -8rem;
			width: 48px;
			height: 48px;
		}
		li {
			font-size: 1.07rem;
			margin: 0.75rem 1rem 0rem -2rem;
			a {
				&:before {
					display: inline-block;
					position: relative;
					top: 2px;
					font-family: Icons;
					content: '\e163\007a';
				}
			}
		}
	}
	.add {
		border-top: 1px dashed rgb(200,200,210);
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 8.7rem;
		a {
			font-weight: 900;
			font-size: 1.05rem;
		}
	}
}

.main-subhead1, .main-head1, #category1 {
	display: none;
}
