@lfr-hue: 210deg; // Allowed val's 0deg to 360deg. Default 210deg
@lfr-saturation: 30; //Allowed val's 0 to 100, where 0 is fully saturated and 100 is fully desaturated. Default 30
@lfr-roundness: 10; // Allowed values -25 to 25. Default 15. Values over +-25 will cause desaturation.

@lfr-background: rgba(240,240,240,1);
@lfr-foreground: rgba(30,30,30,1);
@lfr-base-color: desaturate(spin(rgba(255,0,0,1), @lfr-hue), @lfr-saturation);
@lfr-header-background: -webkit-linear-gradient(top,
								lighten(desaturate(@lfr-base-color, @lfr-roundness), @lfr-roundness) 0,
								darken(@lfr-base-color, @lfr-roundness) 100%);
@lfr-background-light: @lfr-background + rgb(10,10,10);
@lfr-background-dark: @lfr-background - rgb(10,10,10);
@lfr-background-middle: @lfr-background + rgb(5,5,5);
@lfr-background-subhead: -webkit-linear-gradient(bottom,
								darken(@lfr-base-color, @lfr-roundness) 0,
								@lfr-background-dark 2px,
								@lfr-background-dark 100%);
@lfr-border-color: fade(darken(@lfr-base-color, @lfr-roundness), 50%);
@lfr-border-size: 1px;
	@border-solid: @lfr-border-size solid @lfr-border-color;
	@border-dashed: @lfr-border-size dashed @lfr-border-color;
	@border-dotted: @lfr-border-size dotted @lfr-border-color;
@lfr-header-text: @lfr-background;
@lfr-link: darken(@lfr-base-color, 20%);
