@font-face {
    font-family: "Vampire";
    src: url("font/Vampire95.ttf") format("truetype");
}

* {
    font-family: "Vampire" !important;
    text-shadow: none !important;
    /*font-size: 16px;*/
}

html {
    background: #000;
}
body {
    filter: invert(100%);
    color: #0ff;
}
a {
    color: #4ff !important;
}
img {
    filter: invert(100%);
}
