Subject: C Днем Рождения!

Привет, <username>!

Вся "Арсамания" поздравляет тебя с Днем твоего рождения! Мы желаем тебе здоровья и всего самого наилучшего в день твоего <age>-летия.

--
<board_mailer>
(Не отвечайте на это сообщение)